@import 'base.css';
@import 'brand.css';

/* layout for the body */
body {
  font-size: 14px;
  min-block-size: 100vh;
  font-family: system-ui, sans-serif;

  background: var(--surface1);
  color: var(--text1);

  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;

  @media (max-width: 540px) {
    & > :matches(aside, main) {
      grid-area: stack;
    }
  }
}

/*----------------------------------------------*/
/* sidenav */
/*----------------------------------------------*/

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;

  display: grid;
  grid-template-columns: [nav] 2fr [escape] 1fr;

  @media (max-width: 540px) {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: hidden auto;
    overscroll-behavior: contain;

    visibility: hidden; /* not keyboard accessible when closed */
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);

    &:target {
      visibility: visible;
      transform: translateX(0);
      transition: transform var(--duration) var(--easeOutExpo);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    --duration: 1ms;
  }
}

#sidenav-button,
#sidenav-close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;

  @media (min-width: 540px) {
    display: none;
  }
}

aside > a {
  outline-offset: -1px;
  outline: 1px solid transparent;

  &:focus {
    outline-color: hsl(var(--brandHSL));
    transition: outline-color 0.25s ease;
  }
}

nav {
  display: grid;
  grid-template-rows: auto auto 1fr;
  place-items: start;
  gap: var(--space-sm);
  min-width: 25ch;

  padding-inline-start: var(--space-sm);
  padding-inline-end: var(--space-sm);

  color: var(--text1);
  background-color: var(--surface2);

  @media (min-width: 540px) {
    padding-block-start: var(--space-xl);
  }
  @media (max-width: 540px) {
    padding-block-start: var(--space-md);
    border-inline-end: 1px solid var(--surface1);
    box-shadow: 5px 0 40px hsla(0 0% 0% / 0.45);
  }
}

#path-loader {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: var(--space-xs);

  & > h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

#load-gitdir-btn,
#refresh-gitdir-btn {
  padding-block-start: var(--space-xxs);
  padding-block-end: var(--space-xxs);

  & > svg {
    width: 16px;
    height: 16px;
  }
}

/*----------------------------------------------*/
/* directory component with file names */
/*----------------------------------------------*/

#directory {
  display: grid;
  gap: var(--space-xs);
}

/* the buttons in directory */
.directory--button {
  display: grid;
  grid-template-columns: 24px auto;
  gap: var(--space-xs);
  align-items: center;

  text-align: left;
  color: var(--text1);
  background-color: transparent;
  border: none;
  cursor: pointer;

  /* taking care of long names */
  & span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: hsl(var(--brandHSL));
  }

  &:active {
    color: hsl(var(--brandHSL) / 50%);
  }

  /* super important to listen for only the button click event */
  & > * {
    pointer-events: none;
  }
}
/*----------------------------------------------*/
/* hamburger button for mobile only  */
/*----------------------------------------------*/
.hamburger {
  --hamburger-size: 4rem;
  display: flex;
  place-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-inline-start: -1rem;
  block-size: var(--hamburger-size);
  inline-size: var(--hamburger-size);
  outline: none;
  transition: border-color 0.25s ease, background-color 0.25s ease;

  &:hover {
    border-color: hsl(var(--brandHSL) / 50%);
  }

  &:focus {
    border-color: hsl(var(--brandHSL) / 12%);
    background: hsl(var(--brandHSL) / 10%);
  }

  &:hover svg > line {
    stroke: hsl(var(--brandHSL));
  }

  &:active {
    background: hsl(var(--brandHSL) / 20%);
  }

  & > svg {
    width: 100%;

    & > line {
      stroke: var(--text1);
      stroke-width: 7px;
      transition: stroke 0.25s ease;
    }
  }
}
/*----------------------------------------------*/
/* style main content  */
/*----------------------------------------------*/
main {
  display: grid;
  grid-template-rows: auto 1fr;

  max-width: 90ch;
  padding: 1ch;

  @media (min-width: 540px) {
    margin-inline-start: var(--space-sm);
    margin-inline-end: var(--space-sm);

    margin-block-start: var(--space-md);
    margin-block-end: var(--space-md);

    padding: 3ch;
    border-radius: 0.5ch;
  }

  & > header {
    margin-block-start: var(--space-xxs);
    margin-block-end: var(--space-sm);
  }
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;

  & h1 {
    @media (max-width: 540px) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

/*----------------------------------------------*/
/* article container for text  */
/*----------------------------------------------*/

article {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--space-xs);
}

#notification {
  padding: var(--space-xs);
  margin-block-end: 0rem;
}
#blog-area {
  font-family: monospace, 'Courier New', Courier;
  line-height: 1.5;
  border-radius: 0.5ch;
  border-color: var(--surface4);
  resize: none;
}

#blog-preview {
  & > h1 {
    font-size: 2rem;
  }

  /* adding some basic style for the rendered html */
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > p,
  & > ul > li,
  & > ul {
    margin-block-end: var(--space-xs);
  }
}

/*----------------------------------------------*/
/* layout for the bottom part of main content */
/*----------------------------------------------*/
footer {
  display: grid;
  grid-template-columns: 1fr auto auto;

  gap: var(--space-xs);
  @media (max-width: 540px) {
    grid-template-rows: auto var(--space-lg);
    grid-template-columns: 1fr;
  }
}

#delete-btn {
  @media (max-width: 540px) {
    /* hide delete on mobile not to take up too much space */
    display: none;
  }
}

/*----------------------------------------------*/
/* utility classes */
/*----------------------------------------------*/

.mutedtext {
  color: var(--text2);
}

.hidden {
  display: none !important;
}

.error {
  color: hsl(var(--errorHSL));
  background-color: hsl(var(--errorHSL) / 10%);
}

.success {
  color: hsl(var(--successHSL));
  background-color: hsl(var(--successHSL) / 25%);
}

.danger {
  color: hsl(var(--errorHSL)) !important;
}

.primary-btn {
  font-weight: 600;
  background-color: hsl(var(--brandHSL) / 8%);
  border: none;
  border-radius: 5px;
  padding-inline-start: var(--space-xs);
  padding-inline-end: var(--space-xs);
  cursor: pointer;
  color: hsl(var(--brandHSL));

  &:hover {
    background-color: hsl(var(--brandHSL) / 20%);
  }

  &:active {
    background-color: hsl(var(--brandHSL) / 40%);
  }
}

/* ---------------------------------------------*/
/* login form */
/* ---------------------------------------------*/

#login-form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: var(--space-lg);

  & input {
    margin-block-start: var(--space-xs);
    display: block;
    width: 100%;
  }

  & button {
    padding-block-start: var(--space-sm);
    padding-block-end: var(--space-sm);
  }
}
